

/* ----------------------------------- *
 * Your Styles Here
 * ----------------------------------- */

h1 {
    font-style: italic;
}

html {
  background: #0066ff;
  background: -webkit-linear-gradient(#00ccff, #ffffff);
  background:    -moz-linear-gradient(#00ccff, #ffffff);
  background:         linear-gradient(#00ccff, #ffffff);
}
