/* ----------------------------------- *
 * Your Styles Here
 * ----------------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100%;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
  background-size: cover;    
  background: #0066ff;
  background-repeat: no-repeat;    
  background: -webkit-linear-gradient(#00ccff, #ffffff);
  background: -moz-linear-gradient(#00ccff, #ffffff);
  background: -ms-linear-gradient(#00ccff, #ffffff);
  background: -o-linear-gradient(#00ccff, #ffffff);    
  background:         linear-gradient(#00ccff, #ffffff);
  font-family: 'El Messiri', sans-serif;
}

h1 {
    font-size: 32px;
    font-style: italic;
    text-align: center;
    margin: 20px;
       
}
h2 {
    font-size: 24px;
    margin: 10px;
       
}
.tagline {
    position: relative;
    bottom: 10px;
    text-align: center;
}

img {
    display: block;
    float:left;
    height: 400px;
    width: 260px;
 
}

#sidebar {
  height: 100%;
  width: 160px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #0066ff; 
  overflow-x: hidden;
  padding-top: 20px;
}
